<h1>Update Employee HR-Form</h1>
<form action="/employees/new" method="POST">
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputFirstName">First Name:</label>
      <input type="firstName" class="form-control" id="inputFirstName" name="firstName" placeholder="First Name" value={{employee.firstName}}>
    </div>
    <div class="form-group col-md-3">
      <label for="inputLastName">Last Name:</label>
      <input type="lastName" class="form-control" id="inputLastName" name="lastName" placeholder="Last Name" value={{employee.LastName}}>
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail">Email:</label>
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="jane@doe.com" value={{employee.email}}>
    </div>
    <div class="form-group col-md-3">
      <label for="inputPhone">Phone:</label>
      <input type="phone" class="form-control" id="inputPhone" name="phone" placeholder="+49 123 456 789" value={{employee.phone}}>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="jobTitle">Job Title:</label>
      <input class="form-control" type="text" id="jobTitle" name="jobTitle" placeholder="Software Engineer" value={{employee.jobTitle}}>
    </div>
    <div class="form-group col-md-6">
      <label for="department">Department:</label>
      <select class="form-control" name="department" value={{employee.department}}>
        <option>Engineering</option>
        <option>HR</option>
        <option>IT</option>
        <option>Office Management</option>
        <option>Ops</option>
        <option>Prodduct</option>
        <option>Sales</option>
      </select>
    </div>
  </div>
  <div class="form-row">
      <div class="form-group col-md-3">
        <input class="form-control" type="checkbox" id="confirmed" name="confirmed" value={{employee.confirmed}}>
        <label for="confirmed">Confirmed?</label>
      </div>
      <div class="form-group col-md-3">
        <input class="form-control" type="checkbox" id="contract_signed" name="contract_signed" value={{employee.contract_signed}}>
        <label for="contract_signed">Signed?</label>
      </div>
      <div class="form-group col-md-3">
        <label for="startingDate">Starting Date:</label>
        <input class="form-control" type="date" id="startingDate" name="startingDate" value={{employee.startingDate}}>
      </div>
      <br />
      <div class="form-group col-md-3">
        <label for="leavingDate">Leaving Date:</label>
        <input class="form-control" type="date" id="leavingDate" name="leavingDate" value={{employee.leavingDate}}>
      </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address 1</label>
    <input type="text" class="form-control" id="inputAddress" name="address1" placeholder="1234 Main St" value={{employee.address1}}>
    </br>
    <label for="inputAddress2">Address 2 (optional)</label>
    <input type="text" class="form-control" id="inputAddress2" name="address2" value={{employee.address2}} placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputZip">Zip</label>
      <input type="number" class="form-control" id="inputZip" name="zip" value={{employee.zip}}>
    </div>
    <div class="form-group col-md-4">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity" name="city" value={{employee.city}}>
    </div>
    <div class="form-group col-md-4">
      <label for="inputCountry">Country</label>
      <input type="text" class="form-control" id="inputCountry" name="country" value={{employee.country}}>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<div class="message">
  {{#if message }}
    {{ message }}
  {{/if }}
</div>
